.propertyList{
    display: flex;
    justify-content: space-between;
    gap:20px;

    .propertyListItem{
        flex: 1;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        


        .pListImg{
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .pListTitles{
            bottom:1px;
            line-height:10px;

            h2{
                font-size: 18px;
            }
            h3{font-size: 14px; font-weight: 300;}
        }
    }
}