@import '../../components/common/styles/measurements';
@import '../../components/common/styles/colors';

.listContainer{
    display: flex;
    justify-content: center;
    margin: 20px;

    .listWrapper{
        width: 100%;
        max-width: $containerMaxWidth;
        display: flex;
        gap: 20px;

        .listSearch{
            flex: 1;
            background-color: rgb(238, 238, 116);
            border-radius: 8px;
            padding: 10px;
            position: sticky;
            top: 10px;

            button{
                padding: 10px; 
                background-color: $btnDefaultColor;
                color: #fff;
                border: none;
                width: 100%;
                font-weight: 500;
                cursor: pointer;
            }

            .listTitle{
                font-size: 20px;
                color: #555;
                margin-bottom: 10px;
            }

            .listItem{
                display: flex;
                flex-direction: column;
                gap:5px;
                margin-bottom: 10px;

                label{
                    font-size: 12px;
                }

                input{
                    height: 30px;
                    border: none;
                    padding: 5px;
                }
                span{
                    height: 30px;
                    padding: 5px;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                }

                .listOptions{
                    padding: 10px;
                }

                .listOptionItem{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    color: #555;
                    font-size: 12px;

                    .lsOptionInput{
                        width: 50px;
                    }


                }

            }
        }

        .listResult{
            flex: 3;
        }
    }
}