.featured{
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    gap: 20px;


    .featuredItem{
        width: 100%;
        object-fit: cover;
        position: relative;
        color:rgba(0,0,0,0.8);
        border-radius: 10px;
        overflow: hidden;
        height: 250px;
        flex:1;

        &:hover{
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        }


        .featuredImg{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .featuredTitles{
            position: absolute;
            bottom: 0px;
            padding: 5px;
            line-height: 15px;

            h2{
                text-shadow: -1px 0px #fff;
            }
            h3{
                color: #fff;
            }

        }
    }
}