$navColor: #003580;

.navbar{
    height: 50px;
    background-color: $navColor;
    display: flex;
    justify-content: center;
    
    .navContainer{
        display: flex;
        width:100%;
        max-width: 1024px;
        align-items: center;
        justify-content: space-between;
        color:#fff;
        padding:0px 5px
    }

    .logo{
        font-weight: 500;
    }

    .navButton{
        margin-left: 20px;
        border:none;
        padding: 5px 10px;
        color: $navColor;
        cursor: pointer;
    }

}