@import '../common/styles/_colors.scss';
@import '../common/styles/measurements';

.footer{
    width: 100%;
    margin: auto;
    font-size: 12px;
    max-width: $containerMaxWidth;

    .fLists{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .fList{
            list-style: none;
            padding: 0px;

            .fListItem{
                margin-bottom: 10px;
                cursor: pointer;
                color: $blueShadeColor;
            }
        }
    }

}