@import '../common/styles/_colors.scss';

.mailList {
  display: flex;
  width: 100%;
  color: #fff;
  background-color: $blueShadeColor;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding:5px 5px 50px 5px;

  .mailInputContainer {

    input {
      width: 300px;
      height: 30px;
      padding: 10px;
      border: none;
      margin-right: 10px;
    }

    button{
        height: 50px;
        background-color: #0071c2;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
  }
}
